<% @product = locals[:product] %>

  <div class="wrapper">
    <div class="product-img">
    <%= cl_image_tag @product.photo.path, width: 327, height: 420%>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%= @product.name %></h1>
        <h2><%= @current_user %></h2>
        <p><%= @product.description %></p>
      </div>
      <div class="product-price-btn">
        <p>Price: <%= @product.price %> $</p>
        <!-- <button type="button">View Product</button> -->
        <button><%= link_to "View Product", @product %></button>
      </div>
    </div>
  </div>

</body>

</html>
