  <nav>
    <div class="nav-wrapper">
      <%= link_to "Cosmeeter", root_path, class: "brand-logo"%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "Add a product", new_product_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li><% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
</nav>

