  <nav>
    <div class="nav-wrapper">
      <%= link_to "Cosmeeter", root_path, class: "brand-logo"%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <!-- Dropdown Trigger -->
        <li class='hoverwhite'><%= link_to "Start Selling", new_product_path %></li>
        <li class='hoverwhite'><%= link_to "FAQ", new_product_path %></li>
        <li class='hoverwhite'><%= link_to "About", new_product_path %></li>
        <li>
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <a class='dropdown-button valign-wrapper' href='#' data-activates='dropdown1'>
          <!-- <%= current_user.first_name %> -->
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          </a>
        </li>
                      <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content hover-override'>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <li class='hoverwhite'><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class='hoverwhite'><%= link_to 'Log In', new_user_session_path, class: "login" %></li>
        <% end %>
      </ul>

    </div>
  </nav>
