<div class="container">
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 450, height: 300, crop: :scale %>
        <% end %>
      </div>
      <div class="card-content">
        <p>Name : <%= @user.name %></p>
        <p>Address : <%= @user.address %></p>
        <p>Email : <%= @user.email %></p>
      </div>
        <%= link_to "My products", root_path, class: "waves-effect waves-light btn" %>
        <%= link_to "My reservations", root_path, class: "waves-effect waves-light btn" %>

      </div>
    </div>
  </div>

</div>
