<div class="row">
  <div class="col s3">
    <div class="container">
      <%= image_tag @user.facebook_picture_url, class: "avatar-profile" %>
    </div>
  </div>
  <div class="col s3">
    <h4 class="profile-element">Profil de <%= @user.name %></h4>
    <h4 class="profile-element">Registered address:</h4> <p><%= @user.address %></p>
    <h4 class="profile-element">My reservations:</h4>
    <% @id = current_user.id %>
    <% @reservations = Reservation.where(user_id: @id) %>
    <% @reservations.each do |reservation|%>
    <ul class="list-unstyled">
    <li>Product: <%= reservation.product.name %></li>
    <li>Date: <%= reservation.date %></li>
    </ul>
    <% end %>

    <h4 class="profile-element">My products:</h4>
    <% @id = current_user.id %>
    <% @products = Product.where(user_id: @id) %>
    <% @products.each do |product| %>
    <ul class="list-unstyled">
      <li><%= product.name %> </li>
      <li><%= product.price %> $</li>
      <li></li>
    </ul>
    <% end %>
  </div>
</div>



<%= javascript_tag do %>
$(document).ready(function() {
alert('<%= @alert_message %>');
});
<% end %>
