<div class="row">
        <div class="col s12 m7">
          <div class="card large">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title"><%= @product.name %></span>
            </div>
            <div class="card-content">
              <p><%= @product.description %></p>
              <p>Price : <%= @product.price %>$</p>
              <p>Stock : <%= @product.stock %></p>
            </div>
            <div class="card-action">
              <%= link_to "Reserve this product", product_path %>
            </div>
          </div>
        </div>
      </div>
