<%= simple_form_for [@product, @review] do |f| %>
<h3>Add your review for this product:</h3>
<%= f.error_notification %>

<%= f.input :content %>
<%= f.input :rating, collection: 0..5 %>
<%= f.button :submit %>
<% end %>

<%= link_to 'Back', product %>


